<style type="text/css">
.Petit {
	font-size: 10px;
}
.Gras {
	font-weight: bold;
}
.Moyen {
	font-size: 12px;
}
table{
border:1px solid black;
}
td{
border:1px solid black;
}
th{
border:1px solid black;
}
</style>
</head>

<body>
<table width="1650" height="230" border="1">
  <tr>
    <td height="92" colspan="4"><div align="center" class="Moyen">UNIVERSITE D'ORLEANS</div></td>
    <td colspan="5"><span class="Moyen"><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
      
      <HTML>
      </span>
      <div align="center" class="Moyen"><strong>FRAIS  DE DEPLACEMENT</strong><br>
        Décret  n° 2006-78 1 du 3 juillet 2006 – Décision du Conseil  d&rsquo;Administration de l&rsquo;Université du<br>
        22  décembre 2006 <br>
    Joindre  obligatoirement l&rsquo;ordre de mission ou une convocation valant ordre  de mission </div></td>
    <td colspan="7"><form name="form1" method="post" action="">
      <p>
        <span class="Moyen">
        <input type="checkbox" name="checkbox" id="checkbox">
        Mission en métropole<br>
        <input type="checkbox" name="checkbox2" id="checkbox2">
        Mission à l'étranger  <br>
        <input type="checkbox" name="checkbox3" id="checkbox3">
        Demande d'avance<br>
        <input type="checkbox" name="checkbox4" id="checkbox4">
 Régularisation d'avance</span></p>
    </form></td>
  </tr>
  <tr>
    <td width="55" height="147" rowspan="4" class="Moyen">Compte utilisateur</td>
    <td width="71" rowspan="4"><p class="Moyen">Convention:</p>
    <p class="Moyen">Marché:</p></td>
    <td width="69" rowspan="4" class="Moyen">Destination:</td>
    <td width="66" rowspan="4" class="Moyen">Imputation:</td>
    <td colspan="5"><p class="Moyen">Pour les agents autorisés à utiliser leur véhicule personnel:</p></td>
    <td height="19" colspan="6" class="Moyen">Moyen de transport</td>
    <td width="256" rowspan="4"><form name="form3" method="post" action="">
      <p>
        <span class="Moyen">
        <input type="checkbox" name="checkbox5" id="checkbox5"> 
        Mission Faisant l'objet d        'un forfait        </span></p>
      <p class="Moyen">Montant </p>
    </form></td>
  </tr>
  <tr>
    <td colspan="5" rowspan="2">&nbsp;</td>
    <td height="23" colspan="2" class="Moyen">sncf (cl)</td>
    <td width="48" class="Moyen">Avion</td>
    <td width="20"><input type="checkbox" name="checkbox26" id="checkbox26" /></td>
    <td width="105" class="Moyen">Auto</td>
    <td width="30"><input type="checkbox" name="checkbox25" id="checkbox25" /></td>
  </tr>
  <tr>
    <td width="50" height="23" class="Moyen">1 ère</td>
    <td width="45" class="Moyen">2ème</td>
    <td colspan="3" class="Moyen">Véhicule administratif</td>
    <td><input type="checkbox" name="checkbox24" id="checkbox24" /></td>
  </tr>
  <tr>
    <td width="144" height="57"><form name="form2" method="post" action="">
      <p>
        <span class="Moyen">
      <input type="text" name="textfield" id="textfield">
      Puissance du véhicule</span></p>
    </form></td>
    <td width="144"><p>
      <span class="Moyen">
    <input type="text" name="textfield2" id="textfield2">
    Département </span></p></td>
    <td width="144"><p>
        <span class="Moyen">
    <input type="text" name="textfield3" id="textfield3">
    Académie<br>
      (Circonsription autorisée)</span></p></td>
    <td width="144"><p>
      <span class="Moyen">
    <input type="text" name="textfield4" id="textfield4">
    Ponctuelle</span></p></td>
    <td width="159"><p>
      <span class="Moyen">
    <input type="text" name="textfield5" id="textfield5">
    Numéro minéralogique </span></p></td>
    <td><input type="checkbox" name="checkbox22" id="checkbox22" /></td>
    <td><input type="checkbox" name="checkbox21" id="checkbox21" /></td>
    <td colspan="3" class="Moyen">Transporté</td>
    <td><input type="checkbox" name="checkbox23" id="checkbox23" /></td>
  </tr>
</table>
<table width="1649" border="1">
  <tr>
    <td width="590" class="Moyen">
      <input type="checkbox" name="checkbox6" id="checkbox6">
      M <input type="checkbox" name="checkbox7" id="checkbox7">
      Mme 
      <input type="checkbox" name="checkbox8" id="checkbox8"> 
      Mlle - Nom et Prénom 
      <input type="text" name="textfield6" id="textfield6">
    </td>
    <td width="680" rowspan="2"><span class="Moyen"><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
      
      <HTML>
      <!--  		@page { margin: 2cm }  		P { margin-bottom: 0.21cm }  	-->
      <BODY LANG="en-US" DIR="LTR">
    </span>
    <p ALIGN="CENTER" class="Moyen" LANG="fr-FR"> Indemnités  forfaitaires d&rsquo;hébergement et de restauration</p></td>
    <td width="357" rowspan="2" class="Moyen"><div align="center">Nombre de justificatifs</div></td>
  </tr>
  <tr>
    <td><p>
        <span class="Moyen">
      <input type="checkbox" name="checkbox9" id="checkbox9">
      Fonctionnaire - Grade 
      <input type="text" name="textfield7" id="textfield7"> 
      <input type="checkbox" name="checkbox10" id="checkbox10">
      Contractuel 
      <input type="checkbox" name="checkbox11" id="checkbox11">
      Autres Status<br>
      <input type="checkbox" name="checkbox12" id="checkbox12">
    Indice Majoré : 
    <input type="text" name="textfield8" id="textfield8"> 
    (obligatoire pour les déplacements à l'étranger)
    </span></p></td>
  </tr>
  <tr>
    <td><p>
        <span class="Moyen">
      <input type="checkbox" name="checkbox13" id="checkbox13">
      Extérieur à l'université d'Orléans (Préciser la nature et l'adresse de l'établissement d'éxercice<br>
      <input type="text" name="textfield9" id="textfield9">
      <br>
      <input type="checkbox" name="checkbox14" id="checkbox14">
      Adresse résidence familiale
      <br>
      <input type="text" name="textfield10" id="textfield10">
      <br>
      <input type="checkbox" name="checkbox15" id="checkbox15">
      Adresse résidence administative<br>
      <input type="text" name="textfield11" id="textfield11">
      <br>
      Cocher la case utile ci-dessus afin de préciser le lieu de départ de la mission (article 10 du décret)<br>
    </span></p></td>
    <td width="680"><span class="Moyen">Le  bénéficiaire soussigné certifie<br>
      <SPAN LANG="fr-FR">
        <input type="checkbox" name="checkbox20" id="checkbox20">
      Avoir  pris	
      <input type="text" name="textfield12" id="textfield12">
      repas dans un restaurant administratif ou assimilé<br>
      </SPAN></span> <SPAN class="Moyen" LANG="fr-FR">
  <input type="checkbox" name="checkbox19" id="checkbox19">
  Avoir  engagé des frais de restauration dans d&rsquo;autres conditions</SPAN><span class="Moyen"><br>
  <SPAN LANG="fr-FR">
      <input type="checkbox" name="checkbox18" id="checkbox18">
    Avoir  bénéficié de	
    <input type="text" name="textfield13" id="textfield13">
    repas gratuits (Colloques, congrès joindre notice)</SPAN></span></td>
    <td width="357"><p align="center">
      <span class="Moyen">
      <input type="text" name="textfield16" id="textfield16">
      </span></p>
    <p align="center">&nbsp;      </p>
    <p align="center">
      <span class="Moyen">
      <input type="text" name="textfield17" id="textfield17">
    </span></p></td>
  </tr>
  <tr>
    <td height="77" class="Moyen">Compte à créditer (joindre un RIB ou un RIP, si premier paiement ou changement de compte)</td>
    <td width="680" class="Moyen"><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
      
      <HTML>
      <!--  		@page { margin: 2cm }  		P { margin-bottom: 0.21cm }  	-->Le  bénéficiaire soussigné certifie <br>
      <SPAN LANG="fr-FR">
      <input type="checkbox" name="checkbox16" id="checkbox16">
      Avoir  engagé des frais d&rsquo;hébergement pour	
      <input type="text" name="textfield14" id="textfield14"> 
      nuitées</SPAN><br> 
      (joindre  la (les) factures d&rsquo;hôtel ou toute autre pièce justificative de  la dépense)<br>
      <SPAN LANG="fr-FR">
      <input type="checkbox" name="checkbox17" id="checkbox17">
    Avoir  été logé dans un centre d&rsquo;hébergement moyennant participation</SPAN></td>
    <td width="357"><div align="center">
      <span class="Moyen">
      <input type="text" name="textfield15" id="textfield15">
    </span></div></td>
  </tr>
</table>
<table width="1649" border="1">
  <tr>
    <td colspan="11"><span class="Moyen"><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
      
      <HTML>
      <!--  		@page { margin: 2cm }  		P { margin-bottom: 0.21cm }  	-->
      <BODY LANG="en-US" DIR="LTR">
    </span>
    <p ALIGN="CENTER" class="Moyen" LANG="fr-FR"> Remboursement  forfaitaire des frais (Indemnités de repas, de nuitées et  kilométriques)</p></td>
    <td colspan="3" class="Moyen">Frais annexes remboursables sur production des pièces justificatives</td>
  </tr>
  <tr>
    <td width="95" rowspan="3"><span class="Moyen"><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
      
      <HTML>
      <!--  		@page { margin: 2cm }  		P { margin-bottom: 0.21cm }  	-->
      <BODY LANG="en-US" DIR="LTR">
      </span>
      <p ALIGN="LEFT" class="Moyen" LANG="fr-FR"> Itinéraire ville de</p>
    <p ALIGN="LEFT" class="Moyen" LANG="fr-FR"> départ et d&rsquo;arrivée</p></td>
    <td width="78" rowspan="3" class="Moyen">Distance (aller)</td>
    <td colspan="2" rowspan="2" class="Moyen">Départ résidence</td>
    <td colspan="4" class="Moyen">Lieu de mission (à remplir uniquement pour les déplacement à l'étranger)</td>
    <td colspan="2" rowspan="2" class="Moyen">Retour résidence</td>
    <td width="170" rowspan="3" class="Moyen">Montant</td>
    <td width="133" class="Moyen">Nature de la dépense</td>
    <td width="267" class="Moyen">Dépense en €</td>
    <td width="289" class="Moyen">Nombre de justificatifs</td>
  </tr>
  <tr>
    <td colspan="2" class="Moyen">Départ</td>
    <td colspan="2" class="Moyen">Arrivée</td>
    <td class="Moyen">RER et métro</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td width="48" class="Moyen">Date</td>
    <td width="54" class="Moyen">Heure</td>
    <td width="61" class="Moyen">Date</td>
    <td width="75" class="Moyen">Heure</td>
    <td width="72" class="Moyen">Date</td>
    <td width="69" class="Moyen">Heure</td>
    <td width="73" class="Moyen">Date</td>
    <td width="77" class="Moyen">Heure</td>
    <td class="Moyen">Péage et autoroute</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="Moyen">De:</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td class="Moyen">Parking</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="25" class="Moyen">A:</td>
    <td class="Moyen">Taxi</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="Moyen">De:</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td class="Moyen">Navette aéroport</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="Moyen">A:</td>
    <td class="Moyen">Taxe aéroport</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="Moyen">De:</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td class="Moyen">Véhicule de louage</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="Moyen">A:</td>
    <td class="Moyen">Bus Tramway</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="Moyen">De:</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td rowspan="2">&nbsp;</td>
    <td class="Moyen">Frais de vaccination</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="23">&nbsp;</td>
    <td class="Moyen">Frais de visas</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
<table width="1649" border="0">
  <tr>
    <td width="498" height="67"><p class="Moyen">A
      <input type="text" name="textfield18" id="textfield18">
      le,
  <input type="text" name="textfield19" id="textfield19">
    </p>
    <p><SPAN class="Moyen" LANG="fr-FR">*joindre  photocopie de la carte grise et assurance pour les personnes extérieures à l&rsquo;Université et pour les autorisations ponctuelles  Parties grisées réservées à l&rsquo;administration</SPAN> </p></td>
    <td width="297" class="Moyen">L'intéressé(e)</td>
    <td width="310" class="Moyen">Le chef de service </td>
    <td width="524" class="Moyen">L'Ordonnateur</td>
  </tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>
  <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
  <HTML>
  <!--  		@page { margin: 2cm }  		P { margin-bottom: 0.21cm }  	-->
  <BODY LANG="en-US" DIR="LTR">
</p>
<p ALIGN="LEFT">&nbsp;</p>
<p>&nbsp; </p>
</body>
</html>
<h1>FichierPdf#frais_deplacements</h1>
<p>Find me in app/views/fichier_pdf/frais_deplacements.html.erb</p>
