<table width="1047" border="1">
  <tr>
    <td colspan="5"><table border="0" cellspacing="0" cellpadding="0" width="667">
      <tr>
        <td width="459"><p>&nbsp;</p></td>
      </tr>
      <tr>
        <td width="459" valign="top"><p align="center"><strong>REPUBLIQUE FRANCAISE</strong><br />
          <strong>MINISTERE    DE LA JEUNESSE DE L&rsquo;EDUCATION NATIONALE</strong><br />
          <strong>ET DE LA RECHERCHE</strong><br />
          <strong>UNIVERSITE D&rsquo;ORLEANS</strong></p></td>
      </tr>
    </table></td>
    <td width="364"><div align="center">
      <p><strong>Ordre de mission</strong></p>
        <p align="left">
          <input type="checkbox" name="En métropole" id="En métropole" value = <% if @mission.etranger %> true <% else %> false <% end %>   />
          En métropole</p>
        <p align="left">
          <input type="checkbox" name="checkbox" id="checkbox" />
          <label for="checkbox"></label>
          <label for="En métropole"></label>
          A l'étranger</p>
        <p align="left">
          <input type="checkbox" name="checkbox2" id="checkbox2" />
          Avec frais </p>
        <p align="left">
          <input type="checkbox" name="checkbox3" id="checkbox3" />
          Sans frais</p>
        <p align="left">
          <input type="checkbox" name="checkbox4" id="checkbox4" />
          Permanent
          </p>
        </form>
    </div></td>
  </tr>
  <tr>
    <td width="166">Compte utilisateur</td>
    <td width="136">N° Convention</td>
    <td width="104">Destination</td>
    <td width="119">Imputation</td>
    <td width="118">N° marché</td>
    <td><form id="form2" name="form2" method="post" action="">
      <p>
        <input type="checkbox" name="checkbox5" id="checkbox5" />
        <label for="checkbox5"></label>
        Fonctionnaire-Intitulé : 
        <label for="textfield"></label>
        <input type="text" name="textfield" id="textfield" />
      </p>
      <p>
        <input type="checkbox" name="checkbox6" id="checkbox6" />
        Agent contractuel-Grade : 
        <label for="textfield2"></label>
        <input type="text" name="textfield2" id="textfield2" />
      </p>
      <p>
        <input type="checkbox" name="checkbox7" id="checkbox7" />
        Autres status :
        <input type="text" name="textfield3" id="textfield3" />
      </p>
    </form></td>
  </tr>
</table>
<p>NOM, PRENOM,  (M. Mme, Mlle) :                                                                                                                                                                 <br />
</p>
<p>RESIDENCE ADMINISTRATIVE :                                                                                                                                                                 <br />
</p>
<p>RESIDENCE FAMILIALE :                                                                                                                                                                             <br />
</p>
<p>SE RENDRA A :                                                                                                                                                                                          <br />
</p>
<p>DATE DE DEPART :                                                                     DATE  DE RETOUR :                                                                                <br />
</p>
<p>MOTIF DU DEPLACEMENT :</p>
<table width="1048" border="1">
  <tr>
    <td colspan="2"><p align="center">MOYENS DE TRANSPORTS UTILISES<br />
      DECRET 2006-78 1 DU 3 JUILLET 2006 – DECISION DU  CONSEIL D&rsquo;ADMINISTRATION DE L&rsquo; UNIVERSITE<br />
      DU 22 DECEMBRE 2006</p>
    <div align="center">Remboursement sur justificatifs originaux</div></td>
  </tr>
  <tr>
    <td width="455"><form id="form3" name="form3" method="post" action="">
      <p>
        <input type="checkbox" name="checkbox8" id="checkbox8" />
        AVION</p>
      <blockquote>
        <blockquote>
          <p>
              Parking Aéroport
              <input type="checkbox" name="checkbox9" id="checkbox9" />
          </p>
        </blockquote>
        </blockquote>
      <p>
        <input type="checkbox" name="checkbox10" id="checkbox10" />
        TRAIN</p>
      <blockquote>
        <blockquote>
          <p>1ère classe
            <input type="checkbox" name="checkbox11" id="checkbox11" />
            </p>
          <p>2ème classe 
            <input type="checkbox" name="checkbox12" id="checkbox12" />
            </p>
          <p>Parking gare 
            <input type="checkbox" name="checkbox13" id="checkbox13" />
            </p>
          <p>Réservation 
            <input type="checkbox" name="checkbox14" id="checkbox14" />
            </p>
          <p>Couchette 
            <input type="checkbox" name="checkbox15" id="checkbox15" />
            </p>
          <p>Wagon-Lit 
            <input type="checkbox" name="checkbox16" id="checkbox16" />
            </p>
          <p>Supplément(s) 
            <input type="checkbox" name="checkbox17" id="checkbox17" />
            </p>
        </blockquote>
        </blockquote>
      <p>
        <input type="checkbox" name="checkbox18" id="checkbox18" />
        TAXI</p>
      <p>
        <input type="checkbox" name="checkbox19" id="checkbox19" />
        Véhicule de louage</p>
      <p>
        <input type="checkbox" name="checkbox20" id="checkbox20" />
        METRO</p>
      <p>
        <input type="checkbox" name="checkbox21" id="checkbox21" />
        RER</p>
      <p>
        <input type="checkbox" name="checkbox22" id="checkbox22" />
        AUTOBUS</p>
      <p>
        <input type="checkbox" name="checkbox23" id="checkbox23" />
        TRAMWAY</p>
      <p>
        <input type="checkbox" name="checkbox24" id="checkbox24" />
        Mission avec transport (facture réglée par l'Université)
      </p>
      <blockquote>
        <blockquote>
          <p>&nbsp; </p>
        </blockquote>
      </blockquote>
    </form></td>
    <td width="577"><p>
        <input type="checkbox" name="checkbox25" id="checkbox25" /> 
      Véhicule Administratif</p>
      <blockquote>
        <blockquote>
          <p>
            <input type="checkbox" name="checkbox26" id="checkbox26" />
          Frais péage autoroute</p>
          <p>
            <input type="checkbox" name="checkbox27" id="checkbox27" />
          Parking</p>
          <p>N° minéralogique de la plaque : 
            <label for="textfield4"></label>
            <input type="text" name="textfield4" id="textfield4" />
          </p>
        </blockquote>
      </blockquote>
      <p>
        <input type="checkbox" name="checkbox28" id="checkbox28" />
        Véhicule personnel
      </p>
      <blockquote>
        <p>Pour les voyages entre la France et les destinations  limitrophes de la France (Belgique, Luxembourg, Pays-Bas, Allemagne, Suisse,  Monaco, Italie, Espagne, Portugal, partie du Royaume-Uni située en  Grande-Bretagne), remboursement des frais de voyage au tarif SNCF 1ère classe.</p>
        <p>N° minéralogique : 
          <input type="text" name="textfield5" id="textfield5" /> 
        </p>
        <p>Puissance fiscale : 
          <input type="text" name="textfield6" id="textfield6" />
        </p>
        <p>
          <input type="checkbox" name="checkbox29" id="checkbox29" />
        Frais péage autoroute</p>
        <p>
          <input type="checkbox" name="checkbox30" id="checkbox30" />
        Parking</p>
        <p>
          <input type="checkbox" name="checkbox31" id="checkbox31" />
          Autorisation ANNUELLE d'utilisation en date du 
          <input type="text" name="textfield7" id="textfield7" />
        </p>
        <p> 
          <input type="checkbox" name="checkbox32" id="checkbox32" />
        Demande d'autorisation ponctuelle d'utilisation du véhicule </p>
        <p><em>Je soussigné (e) 
          <input type="text" name="textfield8" id="textfield8" />
        déclare  avoir souscrit un contrat d&rsquo;assurance garantissant, de manière illimitée, non  seulement ma responsabilité personnelle, mais également celle de l&rsquo;Etat ; y  compris le cas où celle-ci est engagée vis à vis des personnes transportées. Ma  police comporte, en outre, une assurance contentieuse</em></p>
        <blockquote>
          <p><em>Signature</em>      </p>
        </blockquote>
      </blockquote></td>
  </tr>
</table>
<table width="1046" border="0">
  <tr>
    <td width="459">LE DIRECTEUR</td>
    <td width="577"><div align="right">LE PRESIDENT DE L'UNIVERSITE</div></td>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
